version: '3.9'

services:
  engine:
    build:
      context: ../engine
    ports:
      - '8080:8080'
    environment:
      APP_NAME: ${APP_NAME:-pixel-engine}
      STORAGE_DIRECTORY: ${STORAGE_DIRECTORY:-/app/storage}
      NODE_SERVICE_URL: ${NODE_SERVICE_URL:-http://node:8000}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-default}
    volumes:
      - ../engine/build/libs:/app/libs
    command: java -jar /app/libs/engine-0.0.1-SNAPSHOT.jar
  
  node:
    build:
      context: ../node
    ports:
      - "8000:8000"
    volumes:
      - ../node:/app
    environment:
      ENGINE_SERVICE_URL: ${ENGINE_SERVICE_URL}
  
  frontend:
    build:
      context: ../frontend
    ports:
      - "5173:5173"
    volumes:
      - ../frontend/src:/app/src
    environment:
      NODE_ENV: development
    stdin_open: true
    tty: true
    command: npm run dev

volumes:
  postgres_data:
  grafana_data: