spring:
  servlet:
    multipart:
      max-file-size: 800MB
      max-request-size: 800MB

  cache:
    type: caffeine

  data:
    datasource:
      url: jdbc:h2:mem:testdb;MODE=PostgreSQL
      driver-class-name: org.h2.Driver

      h2:
        console:
          enabled: true
          path: /h2-console

      jpa:
        hibernate:
          ddl-auto: update
        properties:
          hibernate:
            format_sql: true

      flyway:
        enabled: false

storage.directory: ${STORAGE_DIRECTORY}
node.service.url: ${NODE_SERVICE_URL}

logging:
  level:
    org.springframework.web: INFO
    org.springframework.boot.actuate: INFO

management:
  endpoints:
    web:
      exposure:
        include: ["health", "info"]