.play-button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgb(194, 255, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    background: rgb(0, 110, 0);
    cursor: pointer;
}

.play-button:hover {
    background: rgb(0, 200, 0);
    border-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}

.play-button:active {
    transform: scale(0.98);
}

.play-button:disabled {
    background: rgb(100, 100, 100);
    cursor: wait;
    transform: scale(1);
}

.play-button:disabled:hover {
    background:  rgb(100, 100, 100);
    border-color: rgba(255, 255, 255, 0.2);
}