@import url("./index.css");
@import url("rc-dock/dist/rc-dock-dark.css");

.dock-divider {
    box-sizing: border-box;
    flex:
  0 0 1px;
    background:
  rgb(29, 29, 29);
    z-index: 1;
}

.dock-tab-active, .dock-tab-active:hover {
    color: #b7b7b7;
    cursor: default;
  }

  .dock-tab {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  .dock-ink-bar {
    position: absolute;
    box-sizing: border-box;
    margin-top: -3px;
    background-color: #b7b7b7;
    transform-origin: 0 0;
    width: 0;
    height: 0;
  }
