@import url("./index.css");
@import url("rc-dock/dist/rc-dock-dark.css");

.dock-divider {
    box-sizing: border-box;
    flex:
  0 0 1px;
    background:
  rgb(29, 29, 29);
    z-index: 1;
}

.dock-tab-active, .dock-tab-active:hover {
    color: rgb(185, 211, 236);
    cursor: default;
  }

  .dock-tab {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  .dock-ink-bar {
    position: absolute;
    box-sizing: border-box;
    margin-top: -3px;
    background-color: rgb(185, 211, 236);
    transform-origin: 0 0;
    width: 0;
    height: 0;
  }

  .button {
    background: rgba(90, 100, 110, 0);
    border: 1px solid rgba(135, 195, 255, 0.404);
    border-radius: 50px;
    padding: 8px 12px;
    color:  rgba(255, 255, 255, 0.884);
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    outline: none;
  }
  
  .button:hover {
    background: rgba(90, 100, 110, 0.2);
    border-color: rgb(190, 222, 255);
    color:rgb(190, 222, 255);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.95;
  }
  
  .button:active {
    background: rgba(90, 100, 110, 0.3);
    border-color: rgba(130, 150, 170, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
  }
  
  .button:focus {
    box-shadow: 0 0 0 2px rgba(100, 150, 200, 0.4);
  }